### Starting out with data sets

In [42]:
import pandas as pd

Below we import data from a text file called 'balance.txt'. The text file is found in the Task folder. Make sure it is in the same directory that the notebook is saved in.

In [43]:
df = pd.read_csv('balance.txt',sep=' ')

Here is how to view the top rows of the frame. The head() function shows the first five observations. Always use this to get a glimpse of the data. You can see the columns and the type of data in the columns.

In [44]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

This shows the last observations of the dataset

In [45]:
df.tail(5)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

To get the range of indexes of your dataset use the syntax 'dataset_name.index'. This helps you to know how to refer to your observations. By using the index function below, we know the range of the dataset is from 0-400 and therefore you cannot index an observation that is not within that range. For example, index 450 would not be a valid index for this dataset.

In [46]:
df.index

RangeIndex(start=0, stop=400, step=1)

This allows you to see the columns in the data frame. You will need this when you are doing an analysis and are writing reports based on the dataset.

In [47]:
df.columns

Index(['Balance', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education',
       'Gender', 'Student', 'Married', 'Ethnicity'],
      dtype='object')

describe() shows a quick statistic summary of your data. As you can see, the statistic is calculated for only columns with numerical values. We will see in a later task how to interpret the statistics.

In [48]:
df.describe()

,Balance,Income,Limit,Rating,Cards,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,13.429175,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000
std,5.669256,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207
min,3.749403,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000
25%,9.891439,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000
50%,11.779615,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000
75%,15.236961,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000
max,38.785123,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000

sort_values() helps to arrange observations in a well ordered manner. The funtion will take in parameters such as column name. By default the observations will be in ascending order. If you want to display data in descending order, you will have to do it as shown below. Set ascending to false.

In [49]:
df.sort_values(by='Income',ascending=False).head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
28,35.271011,186.634,13414,949,2,41,14,Female,No,Yes,African American
323,33.745580,182.728,13913,982,4,98,17,Male,No,Yes,Caucasian
355,34.034656,180.682,11966,832,2,58,8,Female,No,Yes,African American
261,38.785123,180.379,9310,665,3,67,8,Female,Yes,Yes,Asian
275,30.212080,163.329,8732,636,3,50,14,Male,No,Yes,Caucasian

Selecting a single column, which yields a Series.

In [50]:
df.Rating.head(5)

0    283
1    483
2    514
3    681
4    357
Name: Rating, dtype: int64

Selecting via [ ], which slices the rows.

In [51]:
df[50:60]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
50,10.107356,36.362,5183,376,3,49,15,Male,No,Yes,African American
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
52,11.924342,44.205,5441,394,1,32,12,Male,No,Yes,Caucasian
53,9.728192,16.304,5466,413,4,66,10,Male,No,Yes,Asian
54,7.665662,15.333,1499,138,2,47,9,Female,No,Yes,Asian
55,11.454337,32.916,1786,154,2,60,8,Female,No,Yes,Asian
56,17.053691,57.100,4742,372,7,79,18,Female,No,Yes,Asian
57,18.155488,76.273,4779,367,4,65,14,Female,No,Yes,Caucasian
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian
59,16.424095,51.872,5294,390,4,81,17,Female,No,No,Caucasian

In [52]:
df.loc[40:50]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
40,12.029646,34.950,3327,253,3,54,14,Female,No,No,African American
41,25.291008,113.659,7659,538,2,66,15,Male,Yes,Yes,African American
42,13.123669,44.158,4763,351,2,66,13,Female,No,Yes,Asian
43,12.319976,36.929,6257,445,1,24,14,Female,No,Yes,Asian
44,12.059596,31.861,6375,469,3,25,16,Female,No,Yes,Caucasian
45,18.653661,77.380,7569,564,3,50,12,Female,No,Yes,Caucasian
46,10.805825,19.531,5043,376,2,64,16,Female,Yes,Yes,Asian
47,11.488565,44.646,4431,320,2,49,15,Male,Yes,Yes,Caucasian
48,13.433468,44.522,2252,205,6,72,15,Male,No,Yes,Asian
49,14.007633,43.479,4569,354,4,49,13,Male,Yes,Yes,African American
50,10.107356,36.362,5183,376,3,49,15,Male,No,Yes,African American

#### Selection by Label

You can select a range of columns and rows for viewing. Like in the syntax below. 5:8 means 5 to 8 and 1,7 means 1 and 7. To give a range of observations, you use a semi colon. To select a column you use a comma. For example below we have selected column 1 and 7.

In [53]:
df.iloc[5:8,[1,7]]

   Income  Gender
5  80.180    Male
6  20.996  Female
7  71.408    Male

Using a single columnâ€™s values to select data. Using the example below, we want to find if there are any users who are above the age of 90.

In [54]:
df[df.Age > 90]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
209,28.14285,151.947,9156,642,2,91,11,Female,No,Yes,African American
323,33.74558,182.728,13913,982,4,98,17,Male,No,Yes,Caucasian

## Compulsory Tasks

In [55]:
#Select the Limit and rating columns of the first five observations
df.iloc[0:5,[2,3]]

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [56]:
# Select first five observations with 4 cards
df[0:5]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [57]:
# Sort the observations showing those with a high level of education to 
# those with a lower level
df.sort_values(by='Education',ascending=False)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
60,13.297283,35.510,5198,364,2,35,20,Female,No,No,Asian
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
378,10.140785,19.349,4941,366,1,33,19,Male,No,Yes,Caucasian
247,13.774598,36.364,2220,188,3,50,19,Male,No,No,Caucasian
238,11.079748,26.532,2910,236,6,58,19,Female,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
284,8.298482,14.711,2047,167,2,67,6,Male,No,Yes,Caucasian
368,19.555838,89.000,5759,440,3,37,6,Female,No,No,Caucasian
224,25.262836,121.709,7818,584,4,50,6,Male,No,Yes,Caucasian
254,13.997826,36.508,6386,469,4,79,6,Female,No,Yes,Caucasian
30,10.201523,34.142,5666,413,4,47,5,Female,No,Yes,Caucasian

Here are some indexing examples write comments on the data the indexing is retrieving. For example:

df.iloc[:5,:] â€” the first 5 rows, and all of the columns for those rows.

In [58]:
#Print result with default integer location
#initial and final point of location havent mention 
#[Start:End]
df.iloc[:,:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [63]:
#In this case, df.iloc[5:, 5:] is used to select all the rows starting from the fifth row (index 4) 
#and all the columns starting from the fifth column (index 4) for the DataFrame df
df.iloc[5:,5:]

     Age  Education  Gender Student Married         Ethnicity
5     77         10    Male      No      No         Caucasian
6     37         12  Female      No      No  African American
7     87          9    Male      No      No             Asian
8     66         13  Female      No      No         Caucasian
9     41         19  Female     Yes     Yes  African American
..   ...        ...     ...     ...     ...               ...
395   32         13    Male      No     Yes         Caucasian
396   65         17    Male      No      No  African American
397   67         12  Female      No     Yes         Caucasian
398   44         13    Male      No     Yes         Caucasian
399   64          7  Female      No      No             Asian

[395 rows x 6 columns]

In [66]:
#In this case, df.iloc[1:] is used to select all the rows starting from the second row (index 1) for the DataFrame df
df.iloc[1:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [60]:
#he .iloc attribute is used to access a group of rows and columns by label(s) or a boolean array. In this case, 
#df.iloc[:,0] is used to select all the rows for the first column (index 0) of the DataFrame df
df.iloc[:,0]

0      12.240798
1      23.283334
2      22.530409
3      27.652811
4      16.893978
         ...
395     8.764984
396     9.943838
397    14.882078
398    12.001071
399    10.159598
Name: Balance, Length: 400, dtype: float64

In [61]:
#df.iloc[9,:] is used to select the 10th row (index 9) of the DataFrame df
df.iloc[9,:]

Balance             17.756965
Income                 71.061
Limit                    6819
Rating                    491
Cards                       3
Age                        41
Education                  19
Gender                 Female
Student                   Yes
Married                   Yes
Ethnicity    African American
Name: 9, dtype: object